<section ng-init="findOne()">
    <form class="form-horizontal" ng-submit="update()">
        <div class="form-group">
            <label class="control-label" for="title">Title</label>
            <div class="controls">
                <input type="text" ng-model="event.title" class="form-control" id="title" placeholder="Title" required="" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="description">Description</label>
            <div class="controls">
                <textarea ng-model="event.description" class="form-control" id="description" rows="10" placeholder="Description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary pull-right">Submit</button>
            </div>
        </div>
    </form>
</section>