<section>
    <div class="btn-group btn-group-justified">
        <div class="btn-group" ng-repeat="category in categories1">
            <button type="button" class="btn btn-default filter-btn" ng-class="{active: isCategoryActive(category)}" value="{{category}}" ng-model="categories1" ng-click="toggleCategorySelection(category, 'filter')">{{category}}</button>
        </div>
    </div>

    <div class="btn-group btn-group-justified">
        <div class="btn-group" ng-repeat="category in categories2">
            <button type="button" class="btn btn-default filter-btn" ng-class="{active: isCategoryActive(category)}" value="{{category}}" ng-model="categories2" ng-click="toggleCategorySelection(category, 'filter')">{{category}}</button>
        </div>
    </div>

    <div class="btn-group btn-group-justified">
        <div class="btn-group" ng-repeat="category in categories3">
            <button type="button" class="btn btn-default filter-btn" ng-class="{active: isCategoryActive(category)}" value="{{category}}" ng-model="categories3" ng-click="toggleCategorySelection(category, 'filter')">{{category}}</button>
        </div>
    </div>
</section>
