<section ng-init="find()">
    <div ng-include="" src="'partials/topbar.html'" ng-show="showFilterbar"></div>


    <div ng-repeat="event in events">
        <img src="http://www.gravatar.com/avatar/{{event.creator.email}}"></img>
        <p>Creator: {{event.creator.username}}</p>

        <h1><a ng-href="events/{{event._id}}">Title: {{event.title}}</a></h1>

        <p>Time: {{event.time}}</p>

        <p>Attendees: {{event.attendees}}</p>


        <div>
            <div class="pull-right" ng-repeat="category in event.categories"><span class="badge badge-success">{{category}}</span></div>
            <!-- <div class="pull-right"><span class="badge badge-success">{{event.categories}}</span></div> -->
        </div>

        <hr>
    </div>

    <h1 ng-hide="!events || events.length">No events yet. <br> Why don't you <a href="/events/create">Create One</a>?</h1>
</section>