<div ng-include="" src="'partials/topbar.html'"></div>

<section ng-init="find()">
    <div ng-repeat="event in events">
        <h1><a ng-href="events/{{event._id}}">{{event.title}}</a></h1>
        <p>{{event.description}}</p>
        <div>
            <span class="badge badge-success">Posted {{event.created | date:'medium'}}</span>
            <div class="pull-right"><span class="badge badge-success">Posted by {{event.creator.username}}</span></div>
        </div>
        <hr>
    </div>
    <h1 ng-hide="!events || events.length">No events yet. <br> Why don't you <a href="/events/create">Create One</a>?</h1>
</section>