<section ng-init="findOne()">
    <h2>
    	{{event.title}} 
    	<a ng-show="currentUser._id == event.creator._id" href="/events/{{event._id}}/edit">edit</a>
    	<a ng-show="currentUser._id == event.creator._id" ng-click="remove(event)">delete</a>
    </h2>
    <p>Description: {{event.description}}</p>

    <p>Time: {{event.time}}</p>
    <p>Location: {{event.location}}</p>
    <p>Price: {{event.price}}</p>
    <p>People Needed: {{event.peopleNeeded}}</p>
    <p>Attendees: {{event.attendees}}</p>
    <p>Categories: {{event.categories}}</p>

<!--
	<div>
		Check here to join: <input type="checkbox" ng-model="checked"><br/>
		<div>
		  <div class="check-element animate-show" ng-show="checked">
		    I show up when your checkbox is checked.
		  </div>
		</div>
		<div>
		  <div class="check-element animate-show" ng-hide="checked">
		    I hide when your checkbox is checked.
		  </div>
		</div>
	</div>
-->
	
	<div>
    	<input type="checkbox" checked ng-model="joinCheckbox" ng-click="joinEvent($event)">Join</input>
  	</div>




    <div>
        <span class="badge badge-success">Posted {{event.created | date:'medium'}}</span>
        <div class="pull-right"><span class="badge badge-success">Posted by {{event.creator.username}}</span></div>
    </div>
</section>