<section ng-init="findOne()">
    <div class="event-container">
        <h2 id="event-title">
        	{{event.title}} 
        	<a class="edit-button" ng-show="currentUser._id == event.creator._id" href="/events/{{event._id}}/edit">edit</a>
        	<a class="edit-button" ng-show="currentUser._id == event.creator._id" ng-click="remove(event)">delete</a>
        </h2>

      <p id="event-time" style="display:inline-block">TODAY AT {{event.time}}<p id="price-display" style="display:inline-block;">{{prices[event.price-1]}}</p></p>

     <div id ="location">
    <img id="location-icon" src="/static/img/location.png" alt="location"> 

        <div id="location-text" ng-show="event.location">
            <!-- <p>Location:  -->
                <a ng-click="showMap = !showMap">
                    <strong>{{eventLocationName}}</strong>, {{eventLocationAdress}}
                </a>
            <!-- </p> -->
            <br>
            <div id="viewLocationMap" ng-show="showMap"></div>
        </div>
    </div>
        
 <div id="creator">
            <p><span id="detail-heading">Created by: </span>
            <a ng-href="profile/{{event.creator.username}}">
                {{event.creator.username}}
            </a></p>
        </div>

        <p><b>Description:</b> {{event.description}}</p>

        <p><b>People Needed:</b> {{event.peopleNeeded}}</p>
        <p><b>Attending:</b> {{event.attendees}}</p>
    	
        <br>


        <div>
            <!-- <span class="badge badge-success">Posted {{event.created | date:'medium'}}</span> -->
            <div class="pull-right" ng-repeat="category in event.categories"><span class="badge badge-success">{{category}}</span></div>
       
        </div>
    </div>

    <div id="event-nav" ng-show="currentUser">
        <div id="going">
            <a ng-click="showGoing = !showGoing; joinEvent($event)">
                <img id="going-img" src="/static/img/check2.png" width="55" ng-show="showGoing">
                <img id="going-img" src="/static/img/question30.png" width="55" ng-show="!showGoing">
            </a>
        </div>
        <div id="post">
            <a ng-click="showPost = !showPost; showShare = false">
                <img id="post-img" src="/static/img/interface19_activate.png" width="45" ng-show="showPost">
                <img id="post-img" src="/static/img/interface19.png" width="45" ng-show="!showPost">
            </a>
        </div>
        <div id="share">
            <a ng-click="showShare = !showShare; showPost = false">
                <img id="share-img" src="/static/img/mail9_activate.png" width="45" ng-show="showShare">
                <img id="share-img" src="/static/img/mail9.png" width="45" ng-show="!showShare">
            </a>
        </div>
    </div>


    <br>
    <br>

    <div class="event-container" ng-show="currentUser">
        <div id="comment-box" ng-show="showPost">
            <form class="form-horizontal" ng-submit="addComment()" ng-show="currentUser">
                <div class="form-group">
                    <label class="control-label" for="newComment" id="newComment">COMMENT</label>
                    <div class="controls">
                        <textarea ng-model="newComment" class="form-control" id="newComment" rows="4" placeholder="Comment"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary pull-right">Add Comment</button>
                    </div>
                </div>
            </form>

            <br>

            <h3 id="comment-title">Comments</h3>
            <div ng-repeat="comment in event.comments">
                <p id="comment-detail"> <b> {{comment.creator.username}} </b></p>
                <p>{{comment.text}}</p>
                <span id="comment-time" class="badge badge-success pull-right">Posted {{comment.created | date:'medium'}}</span>
                
                <hr>
            </div>
        </div>



        <div id="email-box" ng-show="showShare">
            <form class="form-horizontal" ng-submit="sendEmail()" ng-show="currentUser">
                <div class="form-group">
                    <label class="control-label" for="newEmail">EMAIL</label>

<!--                     <div class="controls">
                        <textarea ng-model="senderEmail" class="form-control" id="senderEmail" rows="1" placeholder="Sender Email"></textarea>
                    </div> -->
                    <div class="controls">
                        <textarea ng-model="recipientEmail" class="form-control" id="recipientEmail" rows="1" placeholder="Recipient Email"></textarea>
                    </div>

                    <div class="controls">
                        <textarea ng-model="newEmail" class="form-control" id="newEmail" rows="4" placeholder="Type your Email here."></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary pull-right">Send Email</button>
                    </div>
                </div>
            </form>
        </div>

        
    </div>



</section>