<div class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="NavbarCtrl">
    <ul class= "nav navbar-nav">
        <li><a href="#" id= "logo">11th hour</a></li>
        <li ng-show="currentUser"><a href="/events/create">Create</a></li>
    </ul>

    <div>
        <ul class="nav navbar-nav" ng-hide="currentUser">
            <li><a href="/login">Log In</a></li>
            <li><a href="/signup">Sign up</a></li>
        </ul>
        <ul class="nav navbar-nav" ng-show="currentUser">
            <li class="dropdown">
                <a class="dropdown-toggle">Profile<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/profile/{{currentUser.username}}">Profile</a></li>
                    <li><a href="/profile/{{currentUser.username}}/events/created">Created Events</a></li>
                    <li><a href="/profile/{{currentUser.username}}/events/joined">Joined Events</a></li>
                    <li><a ng-click="logout()"><span class="glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!--/.navbar-collapse -->
</div>
<!--/.navbar -->
