<div class="container" ng-controller="ProfileCtrl">

	<div class="row">

		<h1 class="text-center">
			User Profile goes here!
    </h1>

    <!--<h2 ng-show="!currentUser">Welcome. Please log in.</h2>-->
    <h2 ng-show="currentUser">Your First Name is: {{currentUser.firstName}}</h2>
    <h2 ng-show="currentUser">Your Last Name is: {{currentUser.lastName}}</h2>

    <h2 ng-show="currentUser">Your username is: {{currentUser.username}}</h2>
    <h2 ng-show="currentUser">Your email is: {{currentUser.email}}</h2>

	</div>
</div>