<div ng-controller="TopbarCtrl">
    <div class="navbar navbar-default">

        <div class="nav navbar-nav">
            <ul class="nav navbar-nav">
                <li>
                    <a ng-click="filtersToggle = !filtersToggle">Filters</a>
                </li>
            </ul>
        </div>

    <!--
        <div class="nav navbar-nav pull-right">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle">Sort by<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="">popularity</a></li>
                        <li><a ng-click="">Price</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    -->
    </div>


    <div ng-include="" src="'partials/events/filters.html'" ng-show="filtersToggle"></div>

</div>