
@import url('bootstrap/css/bootstrap.css');

#logo {
  border-right: 2px solid rgba(211, 201, 201, 0.25);
}

#login, #signup {
  margin-top: 16px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.navbar-default {
  background-color: #DCC7EB;
}

#prof-drop {
  margin-left: -48px;
}

#prof-img {
  padding-top: 20px;
}

#prof-pic {
  width:75px;
}

#filter-button {
  width: 100%;
  margin-bottom: 20px;
  background-color: rgb(160, 160, 160);
  padding-top:3px;
  padding-bottom:3px;
}

#filter-a {
  color: #FFFFFF;
  font-variant: small-caps;
  font-size: 1.6em;
  font-weight: bold;
  letter-spacing: 2px;
}

#create-img {
  padding-top: 22px;
}

#profile-img, #create-img, #notif-img{
  display: block;
}


#creator {
  float: left; 
  margin-right: 35px;
}

#event-title {
  margin-bottom: 0;
  font-size:x-large;
}

body {
    padding-top: 120px;
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.signup-well {
  padding: 19px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.form-control { margin-bottom: 10px; }

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.account-wall {
  margin-top: 20px;
  padding: 40px 0px 20px 0px;
  background-color: #FFFFFF;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.login-title {
  color: #555;
  font-size: 18px;
  font-weight: 400;
  display: block;
}
.profile-img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.need-help {
  margin-top: 10px;
}
.new-account {
  display: block;
  margin-top: 10px;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer;
}

.dropdown-toggle {
  cursor: pointer;
}










#createLocationMap {
  height: 200px;
}

#viewLocationMap {
  height: 200px;
}



