
@import url('bootstrap/css/bootstrap.css');
@import url(http://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Asap);

#logo {
  border-right: 2px solid rgba(211, 201, 201, 0.25);
}

#profile-pic {
  float: left;
  margin-right: 20px;
}

.container {
  padding-left:0;
  padding-right:0;
}

.event-container, #create-event-container, .profile-container, #edit-event-container{
  padding-left:15px;
  padding-right:15px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#login, #signup {
  margin-top: 16px;
}

#new-comment{
  margin-left:15px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.navbar-default {
  background: -webkit-linear-gradient(#E0CAEE, rgb(203, 172, 216));
}

#attendees {
  background-color: #25B1F3;
}

#prof-drop {
  margin-left: -48px;
}

#prof-img {
  padding-top: 20px;
}

.row.prof {
  margin-bottom:20px;
}

#prof-pic {
  width:75px;
}

#filter-button {
  width: 100%;
  margin-bottom: 20px;
  background-color: rgb(160, 160, 160);
  padding-top:3px;
  padding-bottom:3px;
}

#filter-a {
  color: #FFFFFF;
  font-variant: small-caps;
  font-size: 1.6em;
  font-weight: bold;
  letter-spacing: 2px;
}

#create-img {
  padding-top: 22px;
}

#profile-img, #create-img, #notif-img{
  display: block;
}


#creator {
  margin-bottom: 10px;
  width: 100%;
}

#event-title {
  margin-bottom: 0;
  font-size:x-large;
}

.edit-button {
  font-size:0.6em;
}

#event-nav {
  background-color: rgb(82, 187, 174);
  width: 100%;
  height: 70px;
  margin-top: 40px;
}

#going {
  float:left;
  width:33%;
}

#post {
  float:left;
  width:33%;
}

#share {
  float:left;
  width:33%;
}

#going, #post {
  border-right: thin solid rgb(163, 163, 163);
  height: 100%;
}

#going-img, #post-img, #share-img {
  margin-left:20px;
  margin-top:7px;
}

#event-title {
  margin-bottom:0px;
}

#short-gray-desc{
  color:gray;
  font-size: smaller;
}

body {
    padding-top: 80px;
    background: #fafafa;
    font-family: 'Asap',"Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.signup-well {
  padding: 19px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.form-control { margin-bottom: 10px; }

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.account-wall {
  margin-top: 20px;
  padding: 40px 0px 20px 0px;
  background-color: #FFFFFF;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.login-title {
  color: #555;
  font-size: 18px;
  font-weight: 400;
  display: block;
}
.profile-img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.need-help {
  margin-top: 10px;
}
.new-account {
  display: block;
  margin-top: 10px;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer;
}

.dropdown-toggle {
  cursor: pointer;
}










#createLocationMap {
  height: 200px;
}

#viewLocationMap {
  height: 200px;
}






/*-------------------EVENTS----------------------*/

#events-page
{
  background-color: #ededed;
}

#single-event
{
  
  display: inline-block;
  background-color: white;
  padding: 10px;
/*  margin-left: 10px;
  margin-right: 10px;*/
  margin-top: 10px;
  /*border-radius: 8px;*/
  height: 100%;
  width:100%;
}

#price-display
{
  text-transform: uppercase;
  font-family: "Questrial";
  color: #85c298;
  margin: 0px;
  float: right;

}

#event-title
{
  text-transform: uppercase;
  font-size: 15pt;
  font-family: "Questrial";
  color: purple;
}

#event-title a
{
  color:#4020ab;
}

#event-title:hover
{
  text-decoration: none;
}

#event-time
{
  color: gray;
  font-family: "Questrial";
  margin: 0px;
}

#profile-name 
{
  color:#313131;
}

#profile-name a
{
  color:#313131;
}

#detail-heading
{
  color:#313131;
  font-weight:bold;
}

#attendees
{
  background-color: #999999;
}

.badge{
  background-color: #7A7ACC;
}

#filter-button
{
  margin-bottom: 0px;
  background-color: #7A7A7A;
}

.btn-default {
  color:#FFFFFF;
  background-color: #A2A2A2;
}

#attendees
{
  background-color: white;
  color:#CCCCCC;
}

#creator
{
  color: #7A7ACC;
}

#creator a
{
  color: #7A7ACC;
}

/*>>>>>>>>>>>>>>>>>>>>>>CREATE<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

#description
{
  height: 100px;
}

#create-event-container, #edit-event-container
{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
}

#create-event-container, #edit-event-container
{
  font-family: "Questrial";
  font-size: 12pt;
  color: #434343;
}

#create-event-container .btn-default, #edit-event-container .btn-default
{
  margin-right: 5px;
} 

.form-control
{
  padding-left: 3px;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> SINGLE EVENT <<<<<<<<<<<<<<<<<<<<<<< */

#location-icon
{
  display: inline-block;
}

#location-text
{
  color: #52527A;
  margin-left: 0px;
  display: inline-block;
  margin-bottom: 15px;

}

#location-text a
{
  color: #52527A;
}

.event-container
{
  height: 100%;
}

#event-nav
{
  position: fixed;
  bottom: 0;
  background-color: rgb(186, 206, 204);
  margin-top: 100px;
}

#newComment
{
  margin-left: 10px;
  margin-right: 10px;
  width: 93%;
}

.control-label
{
  font-family: "Questrial";
  font-size: 10pt;
  color: #1B7979;
}

#email-box
{
  width: 93%;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 70px;
}

.btn-primary
{
  background-color: #229797;
  border-color: #888686;
  width: 90px;
  height: 30px;
  font-size: 8pt;
  margin-right: 10px;

}

.btn-primary:hover;
{
  background-color: #A7D5D5;
}