


	<div class="container">

		<h1>Number of events {{ events.length }}</span></h1>

		<div id="event-list" class="row">
			<div class="col-sm-4 col-sm-offset-4">

				<div class="checkbox" ng-repeat="event in events">
					<div>
						[Event title: <a href="#/event/{{event._id}}">{{event.title}}</a>]...[Event description: {{event.description}}]
						<label>
							<input type="checkbox" ng-click="deleteEvent(event._id)">DELETE</input>
						</label>
					<div>
				</div>

			</div>
		</div>

		<div id="event-form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form>
					<div class="form-group">

						<input type="title" class="form-control input-lg text-center" placeholder="event title" ng-model="formData.title">
						<input type="description" class="form-control input-lg text-center" placeholder="event description" ng-model="formData.description">
					</div>

					<button type="submit" class="btn btn-primary btn-lg" ng-click="createEvent()">Add</button>
				</form>
			</div>
		</div>


	</div>
